<!-- Doctor Table----------------------------------------------------------------------------------- -->
<div *ngIf="doctorsData.length !== 0">
    <table mat-table matSort [dataSource]="doctorDataSource" class="table">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor ID </th>
            <td (click)="showDetails(row.id)" mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>
    
        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
            <td (click)="showDetails(row.id)" mat-cell *matCellDef="let row"
                style="max-width: 0px;min-width: 0px;overflow: hidden;">{{row.userName}}</td>
            <td (click)="showDetails(row.id)" mat-cell *matCellDef="let row"
                style="max-width: 0px;min-width: 0px;overflow: hidden;">{{row.name}}</td>
        </ng-container>
    
        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
            <td (click)="showDetails(row.id)" mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
        </ng-container>
    
        <ng-container matColumnDef="eye_color">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Eye Color </th>
            <td mat-cell *matCellDef="let row">{{row.eye_color}}</td>
        </ng-container>
    
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
            <td mat-cell *matCellDef="let row">{{row.gender}}</td>
        </ng-container>
    
        <ng-container matColumnDef="isActivated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Activate / De-activate </th>
            <td mat-cell *matCellDef="let row">
                <div *ngIf="row.isActivated !== undefined">
                    <label class="switch">
                        <input type="checkbox" [(ngModel)]="row.isActivated" (change)="ngAfterViewInit(); clicked(row.id);">
                        <span class="slider round"></span>
                    </label>
                </div>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="table-head"></tr>
        <tr mat-row *matRowDef="let myRow; columns: columnsToDisplay;" class="table-row" (click)="setId(myRow.id)"></tr>
    </table>
    <app-paginator [component]="'doctor'" [resultsNumber]="doctorsData.length" (doctors)="setDoctors($event)" [currentPage]="currentPage" [numberOfPages]="numberOfPages" ></app-paginator>
</div>

<div class="overlay" *ngIf="Details" (click)="hideDetails()"></div>
<app-doctor-details class="doc-details" *ngIf="Details"></app-doctor-details>

<!-- Customer Table------------------------------------------------------------------------------------- -->
<div *ngIf="customersData.length !== 0">
    <table mat-table matSort [dataSource]="customerDataSource" class="table">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer ID </th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>
    
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
            <td mat-cell *matCellDef="let row"
                style="max-width: 0px;min-width: 0px;overflow: hidden;">{{row.name}}</td>
            <td mat-cell *matCellDef="let row"
                style="max-width: 0px;min-width: 0px;overflow: hidden;">{{row.name}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="table-head"></tr>
        <tr mat-row *matRowDef="let myRow; columns: columnsToDisplay;" class="table-row"></tr>
    </table>
    
    <app-paginator [component]="'customer'" [resultsNumber]="customersData.length" (customers)="setCustomers($event)" [currentPage]="currentPage" [numberOfPages]="numberOfPages" ></app-paginator>    
</div>

<!-- Teleconsultation Table------------------------------------------------------------------------------------- -->
<div *ngIf="teleconsultationsData.length !== 0">
    <table mat-table matSort [dataSource]="teleconsultationsData" class="table">

        <ng-container matColumnDef="customerID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer ID </th>
            <td mat-cell *matCellDef="let row">{{row.customerID}}</td>
        </ng-container>
    
        <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
            <td mat-cell *matCellDef="let row"
                style="max-width: 0px;min-width: 0px;overflow: hidden;">{{row.customerName}}</td>
            <td mat-cell *matCellDef="let row"
                style="max-width: 0px;min-width: 0px;overflow: hidden;">{{row.customerName}}</td>
        </ng-container>

        <ng-container matColumnDef="doctorID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor ID </th>
            <td mat-cell *matCellDef="let row"
                style="max-width: 0px;min-width: 0px;overflow: hidden;">{{row.doctorID}}</td>
        </ng-container>

        <ng-container matColumnDef="doctorName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor Name </th>
            <td mat-cell *matCellDef="let row"
                style="max-width: 0px;min-width: 0px;overflow: hidden;">{{row.doctorName}}</td>
        </ng-container>

        <ng-container matColumnDef="appointmentID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment ID </th>
            <td mat-cell *matCellDef="let row"
                style="max-width: 0px;min-width: 0px;overflow: hidden;">{{row.appointmentID}}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date/Time </th>
            <td mat-cell *matCellDef="let row"
                style="max-width: 0px;min-width: 0px;overflow: hidden;">{{row.date}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row"
                style="max-width: 0px;min-width: 0px;overflow: hidden;">{{row.status}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="table-head"></tr>
        <tr mat-row *matRowDef="let myRow; columns: columnsToDisplay;" class="table-row"></tr>
    </table>
    
    <app-paginator [component]="'tele'" [resultsNumber]="customersData.length" (teleconsultaions)="setTeleconsultations($event)" [currentPage]="currentPage" [numberOfPages]="numberOfPages" ></app-paginator>    
</div>