.container{
    background-color: rgba(0, 0, 0, 0.5);
}

.table {
    width: 100%;
}

.table-head {
    background-color: #efefe6;
}


.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 19px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 4px;
    bottom: 5.5px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.table-row{
    cursor: pointer;
}

.table-row:hover{
    background-color: #f5f5ee;
}

.doc-details{
    position: fixed;
    top: 10%;
    left: 20%;

    width: 60%;
    height: 80%;

    background-color: rgb(255, 255, 255);
    z-index: 2;

    overflow-y: scroll;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    cursor: pointer;
}