<table mat-table matSort [dataSource]="dataSource" class="table">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor ID </th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row" style="max-width: 0px;min-width: 0px;overflow: hidden;">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="birth_year">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth Year </th>
        <td mat-cell *matCellDef="let row">{{row.birth_year}}</td>
    </ng-container>

    <ng-container matColumnDef="eye_color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Eye Color </th>
        <td mat-cell *matCellDef="let row">{{row.eye_color}}</td>
    </ng-container>

    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
        <td mat-cell *matCellDef="let row">{{row.gender}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Activate / De-activate </th>
        <td mat-cell *matCellDef="let row">
            <div *ngIf="row.status !== undefined">
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="row.status" (change)="ngAfterViewInit();clicked();">
                    <span class="slider round"></span>
                </label>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="table-head"></tr>
    <tr mat-row *matRowDef="let myRow; columns: columnsToDisplay;" class="table-row" (click)="showDetails(myRow)"></tr>
</table>
<mat-paginator [pageSizeOptions]="[4, 8, 10]" showFirstLastButtons> </mat-paginator>

<div class="overlay" *ngIf="Details" (click)="hideDetails()"></div>
<app-doctor-details class="doc-details" [people]="row" *ngIf="Details"></app-doctor-details>