<div class="container">
    <h3 class="title">Add Doctor</h3>

    <div class="navigation">
        <a href="#">Admin</a> <span> &#xbb; </span> <a href="#">Add Doctor</a>
    </div>

    <hr>

    <div class="form-container">
        <form [formGroup]="addDoctorForm" (ngSubmit)="onSubmitNewDoctor()">
            <table class="form-body">
                <tr>
                    <td> <label for="UserName">Doctor's Name: </label> </td>
                    <td> <input type="text" formControlName="UserName" placeholder="Doctor Full Name"> </td>
                    <td> <label for="Specialization">Doctor's Specialization: </label> </td>
                    <td> <input type="text" formControlName="Specialization" placeholder="Doctor Specialization"> </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <span class="error" *ngIf="
                            addDoctorForm.controls['UserName'].hasError('required') &&
                            addDoctorForm.controls['UserName'].touched
                        "> Full Name is required! </span>
                    </td>
                    <td></td>
                    <td>
                        <span class="error" *ngIf="
                            addDoctorForm.controls['Specialization'].hasError('required') &&
                            addDoctorForm.controls['Specialization'].touched
                        "> Specialization is required! </span>
                    </td>
                </tr>

                <tr>
                    <td> <label for="Email"> Doctor's Email: </label> </td>
                    <td> <input type="email" formControlName="Email" placeholder="Doctor Email"> </td>
                    <td> <label for="PhoneNumber"> Doctor's Mobile Number: </label> </td>
                    <td> <input type="number" formControlName="PhoneNumber" placeholder="Doctor Mobile Number"> </td>
                </tr>
                
                <tr>
                    <td></td>
                    <td class="fix-sizing">
                        <span class="error" *ngIf="
                            addDoctorForm.controls['Email'].hasError('required') &&
                            addDoctorForm.controls['Email'].touched
                        "> Email is required! </span>

                        <span class="error" *ngIf="
                            addDoctorForm.controls['Email'].hasError('email') &&
                            addDoctorForm.controls['Email'].touched
                        "> Email should include @ and .com </span>
                    </td>
                    <td></td>
                    <td class="fix-sizing">
                        <span class="error" *ngIf="
                            addDoctorForm.controls['PhoneNumber'].hasError('required') &&
                            addDoctorForm.controls['PhoneNumber'].touched
                        "> Mobile Number is required! </span>
                    </td>
                </tr>

                <tr>
                    <td> <label for="Gender"> Doctor's Gender: </label> </td>
                    <td>
                        <select name="gender" formControlName="Gender">
                        <option disabled value="default" [selected]="true">Choose a gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        </select>
                    </td>
                    <td> <label for="NormalFees"> Doctor's Fees: </label> </td>
                    <td> <input type="number" formControlName="NormalFees" placeholder="Doctor Fees"> </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <span class="error" *ngIf="
                            addDoctorForm.controls['Gender'].hasError('required') &&
                            addDoctorForm.controls['Gender'].touched
                        "> Gender is required! </span>
                    </td>
                    <td></td>
                    <td>
                        <span class="error" *ngIf="
                            addDoctorForm.controls['NormalFees'].hasError('required') &&
                            addDoctorForm.controls['NormalFees'].touched
                        "> Fees is required! </span>
                    </td>
                </tr>

        </table>
        <table class="max-width">
            <tr> <label for="Biography"> Doctor's Biography: </label> </tr>
            <tr> <textarea formControlName="Biography" placeholder="Doctor Biography"> </textarea> </tr>
            <tr> <span class="error" *ngIf="
                addDoctorForm.controls['Biography'].hasError('required') &&
                addDoctorForm.controls['Biography'].touched
            "> Biography is required! </span> </tr>
        </table>

        <!-- <div>
            <label for="slotDuration"> Doctor's Slots: </label>
            <input type="text" formControlName="slotDuration" placeholder="Doctor Slot Duration">
            <span class="error" *ngIf="
                addDoctorForm.controls['slotDuration'].hasError('required') &&
                addDoctorForm.controls['slotDuration'].touched
            ">Title is required</span>
        </div> -->

        <div class="form-footer">
            <button [disabled]="addDoctorForm.invalid" class="btn" type="submit">
                Add Doctor
            </button>
            <button class="btn" type="reset">
                Clear Fields
            </button>
        </div>
        </form>
    </div>
</div>