<div class="loading-container">
    <span class="loading" *ngIf="loading">Loading...</span>
</div>
<div class="container" *ngIf="!loading">
    <div class="header">
        {{doctor.userName}}'s profile details
        <button (click)="deleteDoctor()" class="btn btn-danger btn-float-right">Delete</button>
    </div>

    <div class="text-center" *ngIf="deleteSuccess">
        {{msg}}
        <div>You will be redirected in 3 secounds.</div>
    </div>

    <div *ngIf="!deleteSuccess" class="body">
        <div class="flex-it">
            <div class="flex-it flex-col full-field-width">
                <label for="specialization"> Specialization: </label>
                <input class="field" type="text" readonly disabled value="{{doctor.specialization}}">

                <label for="email"> Email: </label>
                <input class="field" type="text" readonly disabled value="{{doctor.email}}">

                <label for="mobileNumber"> Mobile number: </label>
                <input class="field" type="text" readonly disabled value="{{doctor.phoneNumber}}">

                <label for="fees"> Fees: </label>
                <input class="field" type="text" readonly disabled value="{{doctor.normalFees}}">

                <label for="gender"> Gender: </label>
                <input class="field" type="text" readonly disabled value="{{doctor.gender}}">
            </div>

            <div class="flex-it flex-col full-field-width">
                <label for="biography"> Biography: </label>
                <textarea class="full-height field" type="text" readonly disabled value="{{doctor.bio}}"> </textarea>
            </div>
        </div>

        <div class="margin-top">
            <app-appointment [upcomingAppointments]="doctor.upcomingAppointments" [previousAppointments]="doctor.previousAppointments"></app-appointment>
        </div>

        <div class="margin-top">
            <label for="schedule"> Doctor Schedule: </label>
            <app-schedule></app-schedule>
        </div>
    </div>
</div>