<!-- <span class="Name-Section">{{doctors.fullName}}</span> <br>
<span class="Title-Section">{{doctors.title}}</span> <br>
<span class="Email-Section">{{doctors.email}}</span> <br>
<span class="MobileNumber-Section">{{doctors.mobileNumber}}</span> <br>
<span class="Gender-Section">{{doctors.gender}}</span> <br>
<span class="Fees-Section">{{doctors.fees}}</span> <br>
<span class="Biography-Section">{{doctors.biography}}</span> <br>
<span class="SlotDuration-Section">{{doctors.slotDuration}}</span> <br>


<span class="Doc-Appointment-Section">{{doctors.fullName}}</span> <br>
<span class="Doc-Schedule-Section">{{doctors.fullName}}</span> (previous & upcoming) -->

<span class="Name-Section">{{people.name}}</span> <br>
<span class="Title-Section">{{people.birth_year}}</span> <br>
<span class="Email-Section">{{people.eye_color}}</span> <br>
<span class="MobileNumber-Section">{{people.gender}}</span> <br>
<span class="Gender-Section">{{people.hair_color}}</span> <br>
<span class="Fees-Section">{{people.height}}</span> <br>
<span class="Biography-Section">{{people.mass}}</span> <br>
<span class="SlotDuration-Section">{{people.skin_color}}</span> <br>
<span class="Doc-Appointment-Section">{{people.homeworld}}</span> <br>
<span class="Doc-Schedule-Section">{{people.films}}</span> <br>
<span class="Doc-Schedule-Section">{{people.species}}</span> <br>
<span class="Doc-Schedule-Section">{{people.starships}}</span> <br>
<span class="Doc-Schedule-Section">{{people.vehicles}}</span> <br>
<span class="Doc-Schedule-Section">{{people.url}}</span> <br>
<span class="Doc-Schedule-Section">{{people.created}}</span> <br>
<span class="Doc-Schedule-Section">{{people.edited}}</span> <br>