<div class="container">
    <h3 *ngIf="article" class="title">Articles list</h3>
    <h3 *ngIf="!article" class="title">Posts list</h3>

    <div class="navigation">
        <a href="#">Admin</a> <span> &#xbb; </span> <a routerLink="articles-and-posts">Articles List</a>
    </div>

    <hr>

    <div class="flex-container">
        <button (click)="activateView('Article')" id="Article" class="btn active-btn">Articles</button>
        <button (click)="activateView('Post'); getAllPosts();" id="Post" class="btn">Posts</button>
    </div>

    <form class="search-form">
        <input placeholder="Search" type="text" name="search" id="search">
        <button class="btn" type="submit">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </button>
    </form>

    <div *ngIf="article" class="data-table">
        <app-data-table *ngIf="show" [currentPage]="currentPage" [numberOfPages]="numberOfPages"
            [articlesData]="articles" [columnsToDisplay]="displayColsArticle" (articleDeleteEvent)="deleteArticle($event)"> </app-data-table>
    </div>

    <div *ngIf="!article" class="data-table">
        <div *ngIf="show">
            <app-data-table *mcRerender="trigger" [currentPage]="currentPage" [numberOfPages]="numberOfPages"
            [postsData]="posts" [columnsToDisplay]="displayColsPost" (postDeleteEvent)="deletePost($event)"> </app-data-table>
        </div>
    </div>
</div>